{% extends 'base.html.twig' %}

{% block title %}
    Product Details
{% endblock %}

{% block stylesheets %}
    <style>
        .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
            height: 320px;
        }
        .price-label {
            position: absolute;
            bottom: 160px;
            background-color: rgba(13, 13, 13, 0.86);
            color: aliceblue;
            font-size: larger;
            padding: 10px;
            left: 16px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            {% include 'includes/thumbnail.html.twig' %}
        </div>

        <div class="col-sm-6 col-md-8">
            <h1>smsmsms ms smss mss </h1>
            <hr>
            <p>jh sfkjdhfsdk fhsd fkjsdhf sdjkf hsdj fhsd fjksdhfkjsd hfsdj fhsdj fkhsdkj fhsdkjfh sdjkfh ds</p>
            <hr>
            <strong>Price </strong> 500$
        </div>
    </div>
{% endblock %}

